.table-responsive{
    width: 100%;
    overflow: auto;
    height: 90%;
}

.table{
    width: max-content;
    min-width: 95%;
}

.bg-success{
    font-weight: bold;
}

.div_contenedor{
    width: 100%;
    overflow: auto;
    height: 45vh;
}

thead th {
    position: sticky;
    top: 0;
}


body{
    overflow-y: auto;
}

.btnCompletar{
    font-size: 0.8rem;
}
